<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<div class="container">
    <h1>Posts</h1>
    <div class="posts">
        <% postList.results.forEach(function(post) {%>
            <div class="post">
            <p>Post id: <%= post.id %> - <%= post.message %> - <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></p>
            <p>Posted by: <%= JSON.stringify(post.postedBy.name) %> </p>
            <p><img src="<%= post.imageUrl %>" height="25%"/></p>
            <p>Liked by: <%= post.likedBy.map((user) => (user.name))%></p>
            <p>Disliked by: <%= post.dislikedBy.map((user) => (user.name)) %></p>
            </div>
        <% }); %>
    </div>
    <h3>More posts</h3>
        <p>
            <%if (postList.next) { %>
                <a href="<%= postList.next %>">Next</a>
            <% } %>
            <%if (postList.previous) { %>
                <a href="<%= postList.previous %>">Previous</a>
            <% } %>
        </p>
</div>
</body>
<%- include('_footer') -%>
</html>