<html lang="en-gb">

<%- include('_head') -%>
<%- include('_header') -%>
<body>    
    <h1>Posts</h1>
    <p><button type="button" id="changeColors">Change color</button></p>
        <div class="posts">
            <% postList.results.forEach(function(post) {%>
                <%- include ('_post', {post:post}); -%>
            <% }); %>
        </div>
    <div class="more_pages"
    <% if (postList.next) { %>
    <h3>More posts</h3>
        <p>
            <a href="<%= postList.next %>">Next</a>
    <% } %>
    <%if (postList.previous) { %>
            <a href="<%= postList.previous %>">Previous</a>
    <% } %>
        </p>
    </div> 
</body>
<%- include('_footer') -%>
</html>