<html lang="en-gb">

<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <div class="posts">
    <h1>Posts</h1>
        <% postList.results.forEach(function(post) {%>
            <div class="post">
            <h3>Post id: <%= post.id %></h3><h2><%= post.message %></h2><h4 class="timestamp"><%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></h4>
            <p>Posted by: <%= JSON.stringify(post.postedBy.name) %> </p>
            <p><img src="<%= post.imageUrl %>" class="center"/></p>
            <p><span class="reactions">Liked by:</span><%= post.likedBy.map((user) => (user.name))%></p>
            <p><span class="reactions">Disiked by:</span><%= post.dislikedBy.map((user) => (user.name)) %></p>
            </div>
        <% }); %>
    <h3>More posts</h3>
        <p>
            <%if (postList.next) { %>
                <a href="<%= postList.next %>">Next</a>
            <% } %>
            <%if (postList.previous) { %>
                <a href="<%= postList.previous %>">Previous</a>
            <% } %>
        </p>
    </div>
</body>
<%- include('_footer') -%>
</html>