<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<div id="coverImage">
    <img id="coverimage" src="<%= coverImageUrl %>"/>
    <div id="profilebanner">
        
        <img id="profileimage" src="<%= profileImageUrl %>" />

        <div id="username">
                <h1 class="profilename"><%= name %></h1>
                <h3 class="profileusername"><%= username %></span></b><br>
                <h3 class="profileemail"><%= email %></span>
        </div>
    </div>
</div>


<div class="content">
    <h2>Posts by <%= name %></h2>
    <ul>
    <% posts.forEach(function(post) {%>
        <li class="post">
            <img src="<%= post.imageUrl %>" class="center" />
            <h4 class="postauthor"><%= name %></h4>
            <h4 class="postdate"><%= post.createdAt %></h4>
            <p class="message"><%= post.message %></p>
        </li>
    <% }); %>
    </ul>
</div>
<div class="content">
<h2>Posts <%= name %> liked</h2>
    <ul>
    <% likes.forEach(function(post) {%>
        <li class="post">
        <img src="<%= post.imageUrl %>" class="center" />
        <h4 class="postdate"><%= post.createdAt %></h4>
        <p class="message"><%= post.message %></p>
        </li>
    <% }); %>
    </ul>
</div>
<div class="content">
    <h2>Posts <%= name %> disliked</h2>
    <ul>
    <% dislikes.forEach(function(post) {%>
        <li class="post">
            <img src="<%= post.imageUrl %>" class="center" />
            <h4 class="postdate"><%= post.createdAt %></h4>
            <p class="message"><%= post.message %></p>
        </li>
    <% }); %>
    </ul>
</div>

</body>
<%- include('_footer') -%>
</html>


